.pg{
    background-image: url("../../assets/covid1.jpg");
    background-position: right top;
  padding-left: 10px;
  text-align: center;
  padding-bottom: 10px;
  //background-color: #f1f1f1;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  border:1px solid white;
}
h1{
    color:black;
    font-family:candara;
    font-size: 22px;
    font-weight: 900;
}