h1{
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hd{
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aqua;
}
.box{
    margin-right: 500px;
}